.App {
  text-align: center;
  height: 100%;
  /* overflow: hidden; */
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */
[class*="col-"] {
  width: 100%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3rem 0 -3rem;
  font-size: calc(8pt + 2vmin);
  color: white;
}
.Navbar-Data-Wrapper {
  display: flex;
  flex-direction: row;
  font-size: 14pt;
  padding: 0.5rem 1rem;
}
.Navbar-Data-Label {
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
}
.App-link {
  color: #61dafb;
}
.App-button {
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
  line-height: 2rem;
  padding: 0 3rem;
  box-shadow: 0 0 1rem darkgray;
}
.App-main {
  height: 100%;
}
/* .Main-Container-wrapper{
  border: 1px hotpink solid;
} */
.App-footer {
  filter: blur(1px);
  background-color: #282c34;
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(14pt + 2vmin);
}
.App-footer:hover {
  filter: blur(0px);
}
.buttonStyle {
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
  line-height: 2rem;
  padding: 0 3rem;
  box-shadow: 0 0 1rem darkgray;
}
.Canvas-BG-grad {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}
.Canvas-BG-graphic {
  position: absolute;
  top: 70%;
  left: 20%;
  z-index: -8;
  border-radius: 50%;
  opacity: 60%;
  /* border: 1px solid white; */
}
.RenderSky-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}
.Results-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.ResultsIndex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0.5rem;
  margin-top: 1rem;
  justify-content: center;
}
.Results-header-label {
  padding-left: 3rem;
  text-align: start;
  font-size: calc(24pt + 0.2rem);
  font-weight: 200;
  font-style: italic;
  color: rgba(255, 255, 255, 0.7);
}
.Results-index-card {
  padding: 0;
  max-width: 300px;
  min-width: 150px;
  min-height: 300px;
  list-style: none;
  box-sizing: border-box;
  text-align: center;
  background-color: lightgray;
  border-bottom: 4px solid white;
  border: rgba(255, 255, 255, 0.8) 1px solid;
  box-shadow: 0 0 20px rgba(0 0 0 0.2);
  z-index: 25;
  margin: 0.3rem;
  border-radius: 0.2rem;
}
.ResultsIndex-button {
  display: flex;
  order: -5;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 12pt;
  border: none;
  line-height: 2.2rem;
  padding: 0 1.6rem;
  border-radius: 0.3rem;
  text-align: center;
  margin: 0 auto;
}
.Results-card-header {
  min-height: 100px;
  max-height: 100px;
  font-size: 14pt;
  font-style: bolder;
  font-weight: 600;
  overflow: hidden;
  background: rgba(150, 150, 150, 0.7);
  padding: 1.3rem 1.3rem 0 1.3rem;
  border: 0;
}
.Results-card-body {
  font-family: arial;
  text-align: justify;
  margin: 0 1.3rem;
  line-height: 14pt;
  font-weight: 300;
  overflow: ellipse;
  max-height: 110px;
  min-height: 110px;
}
.Results-card-button {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 12pt;
  border: none;
  line-height: 2.2rem;
  padding: 0 1.6rem;
  border-radius: 0.3rem;
  text-align: center;
  margin: 0 auto;
  bottom: 2%;
}
.Results-card-button:active {
  background-color: rgba(0, 0, 0, 0.9);
}
.Results-card-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
/* This is where the formatting for index results related materials are rendered */
.Main-Container-results-wrapper {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.Main-Container-results-index {
  display: flex;
  flex-direction: column;
  order: 1;
  width: 66vw;
  margin: 2rem;
  /* border: white 1px solid; */
}
.Main-Container-results-show {
  display: flex;
  flex-direction: column;
  order: 2;
  width: 25vw;

  /* border: white 1px solid; */
}
.Results-show-card {
  background-color: rgba(150, 150, 150, 0.6);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: white;
  border-radius: 0.3rem;
  box-shadow: 0 0 20px rgba(0 0 0 0.4);
  z-index: 200;
}
.Results-show-card-table {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* overflow: hidden; */
}
.Results-show-title {
  font-size: 16pt;
  font-weight: 200;
}
.Results-show-image-wrapper {
  width: 100%;
  min-height: 150px;
  text-align: justify;
}

.Results-show-image {
  height: 200px;
  max-width: 100%;
  overflow: hidden;
  border: 1px solid rgba(211, 211, 211, 0.25);
}
.Results-show-image-desc {
  font-size: 8pt;
  line-height: 11pt;
  text-align: justify;
  margin: 0.6rem 1.3rem 0.6rem 1.3rem;
}
.Results-show-article-desc {
  font-size: 11pt;
  line-height: 12pt;
  text-align: justify;
  margin: 0.6rem 1.3rem 0 1.3rem;
}
.Results-show-close-button {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 12pt;
  border: none;
  line-height: 2.2rem;
  padding: 0 1.6rem;
  border-radius: 0.3rem;
  text-align: center;
  margin: 0.3rem auto 0.3rem auto;
  text-decoration: none;
  bottom: 2%;
}
.Results-show-getArticle-button {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 11pt;
  border: none;
  border-radius: 0.3rem;
  text-align: center;
  text-decoration: none;
  padding: 0 1.6rem;
}
.Rock-image {
  max-width: 400px;
  max-height: 400px;
  min-height: 300px;
  min-height: 300px;
  position: absolute;
  bottom: 2%;
  left: 40%;
  z-index: 500;
  filter: blur(0px);
}
.rock-image: hover {
  filter: blur(3px);
}
.hidden {
  display: none;
}
button.previous,
button.next {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 10pt;
  border: none;
  line-height: 2.2rem;
  border-radius: 0.3rem;
  text-align: center;
  margin: 0;
  padding: 0 3rem;
  width: 100%;
  z-index: 199;
}
@media only screen and (max-width: 600px) {
  .App {
    text-align: center;
    height: auto;
    overflow: scroll;
    box-sizing: border-box;
  }
  .App-header {
    background-color: #282c34;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    font-size: 18pt;
    color: white;
  }
  .Navbar-Data-Wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12pt;
    padding: 0;
    margin: 0.5rem;
  }
  .ResultsIndex-button {
    display: flex;
    order: -5;
    height: auto;
    padding: 0;
    margin: 0;
  }
  .Main-Container-results-wrapper {
    margin: 0.3rem;
    z-index: 150;
  }
  .Main-Container-results-index {
    display: flex;
    order: 2;
    width: 100vw;
    margin: 0.6rem auto;
  }
  .Main-Container-results-show {
    display: flex;
    order: 0;
    width: 100vw;
    height: auto;
    margin: 0.6rem auto;
  }
  .ResultsIndex-row {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    padding: 0;
    height: 350px;
  }
  .Results-show-card {
    background-color: rgba(150, 150, 150, 0.5);
    width: 100%;
    height: 150px;
    margin: 0 auto;
    color: white;
  }
  .Results-index-card {
    padding: 0;
    max-width: 100px;
    min-width: 150px;
    list-style: none;
    box-sizing: border-box;
    text-align: center;
    background-color: lightgray;
    border-bottom: 2px solid white;
    border: rgba(255, 255, 255, 0.8) 1px solid;
    box-shadow: 0 0 5px rgba(0 0 0 0.2);
    z-index: 25;
    margin: 0.1rem;
    border-radius: 0.1rem;
    height: 200px;
    min-height: 150px;
  }
  .Results-card-header {
    min-height: 80px;
    max-height: 80px;
    font-size: 11pt;
    font-style: bolder;
    font-weight: 400;
    overflow: hidden;
    background: rgba(150, 150, 150, 0.7);
    padding: 0.6rem 0.6rem 0 0.6rem;
    border: 0;
  }
  .Results-card-body {
    font-family: arial;
    text-align: justify;
    margin: 0 1.3rem;
    line-height: 12pt;
    font-weight: 300;
    overflow: ellipse;
    max-height: 0px;
    min-height: 0px;
    display: none;
  }
  .Results-card-button {
    display: flex;
    padding: 0 0.5rem;
    line-height: 18pt;
    margin: 1.5rem auto;
    width: auto;
    font-size: 12pt;
    flex-direction: column-reverse;
  }
  .Rock-image {
    max-width: 100px;
    max-height: 100px;
    min-height: 100px;
    min-height: 100px;
    position: absolute;
    bottom: 2%;
    left: 80%;
    z-index: 0;
  }
  .ResultsIndex-button {
    height: 2rem;
    margin: 1rem;
    opacity: 0.75;
  }
}
@media only screen and (min-width: 600px) {
  .Rock-image {
    max-width: 250px;
    max-height: 250px;
    min-height: 250px;
    min-height: 250px;
    position: absolute;
    bottom: 2%;
    left: 75%;
    z-index: 20;
  }
}

@media only screen and (min-width: 768px) {
  .ResultsIndex-button {
    display: flex;
    order: -5;
    height: auto;
    padding: 0;
    margin: 0 2rem;
    min-width: 10rem;
  }
  .Main-Container-results-index {
    display: flex;
    order: 0;
    width: 66vw;
    margin: 0.6rem auto;
  }
  .Main-Container-results-show {
    display: flex;
    order: 1;
    width: 40vw;
    height: auto;
    margin: 0.6rem auto;
  }
  .Rock-image {
    max-width: 300px;
    max-height: 300px;
    min-height: 250px;
    min-height: 250px;
    position: absolute;
    bottom: 2%;
    left: 65%;
    z-index: 500;
    filter: blur(0px);
  }
}
@media only screen and (min-width: 968px) {
  .Rock-image {
    max-width: 350px;
    max-height: 350px;
    min-height: 325px;
    min-height: 325px;
    position: absolute;
    bottom: 2%;
    left: 65%;
    z-index: 20;
  }
  .Main-Container-results-index {
    display: flex;
    order: 0;
    margin: 0.6rem auto;
    width: 66%;
  }
  .Main-Container-results-show {
    display: flex;
    order: 1;
    height: auto;
    margin: 0.6rem auto;
    width: 30%;
  }
  .Main-Container-results-wrapper {
    margin: 1rem;
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (min-width: 968px) {
  .Rock-image {
    max-width: 450px;
    max-height: 450px;
    min-height: 400px;
    min-height: 400px;
    position: absolute;
    bottom: 2%;
    left: 55%;
    z-index: 20;
  }
  .Main-Container-results-index {
    display: flex;
    order: 0;
    margin: 0.6rem auto;
    width: 66%;
  }
  .Main-Container-results-show {
    display: flex;
    order: 1;
    height: auto;
    margin: 0.6rem auto;
    width: 30%;
  }
  .Main-Container-results-wrapper {
    margin: 1rem;
    display: flex;
    flex-direction: row;
  }
}
